@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.Home>
@using ContentModels = Umbraco.Web.PublishedModels;
@{
	Layout = "Layout.cshtml";
}

<div class="container text-center" style="margin-top: 50px; margin-bottom: 100px;">
	<h2 style="">Introdução</h2>
	<div class="text-center card col-md-12 bg-danger text-white"
		style="margin-top: 50px;
        margin-bottom: 50px;
        padding-top: 25px;
        padding-right: 25px;
        padding-left: 25px;
        padding-bottom: 25px;
	">
		@Model.Value("introducao")
	</div>
</div>